

.parent {
    margin: 10px;
  }
  .child {
    display: inline-block;
    background-color: bisque;
    width: 100px;
    height: 100px;
  }

  #first {
    background-color: blueviolet;
  }
  #second {
    background-color: beige;
  }
  #third {
    background-color: blue;
  }
  #fourth {
    background-color: black;
  }