body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#name {
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 5px solid black ;
    border-radius: 20px;
    padding: 15px;
    width: 800px;
    height:600px;
    align-items: center;
}

#container #countdown {
    padding: 15px;
    font-size: 15rem;
    font-weight: bold;
    background-color: ghostwhite;
    height: 500px;
    width: 750px;
    box-shadow: 5px 5px 5px  gray;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    vertical-align: baseline;
}

#container #controls button{
    font-size: 4rem;
    font-weight: bold;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#container #controls #start {
    background-color: green;
}
#container #controls #start:hover {
    background-color: rgb(104, 214, 104);
}

#container #controls #stop {
    background-color: red;
}
#container #controls #stop:hover {
    background-color: rgb(253, 112, 112);
}

#container #controls #reset {
    background-color: orange;
}
#container #controls #reset:hover {
    background-color: rgb(247, 201, 116);
}